.hearts-bg {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 1.2s ease;
}

.hearts-bg.visible {
  opacity: 1;
}

.heart {
  position: absolute;
  background: var(--text);
  transform: rotate(45deg);
  border-radius: 16%;
  filter: blur(1.5px);

  animation-name: float-heart;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--text);
  border-radius: 50%;
}
.heart::before {
  top: -50%;
}
.heart::after {
  left: -50%;
}

@keyframes float-heart {
  0% {
    transform: translate(0, 0) scale(1) rotate(45deg);
  }
  25% {
    transform: translate(var(--delta-x), var(--delta-y)) scale(var(--scale))
      rotate(45deg);
  }
  50% {
    transform: translate(calc(var(--delta-x) / 2), calc(var(--delta-y) / 2))
      scale(1) rotate(45deg);
  }
  75% {
    transform: translate(calc(var(--delta-x) / 3), calc(var(--delta-y) / 3))
      scale(calc(1 + (var(--scale)-1) / 2)) rotate(45deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(45deg);
  }
}

@media (max-width: 1024px) {
  .heart {
    width: min(12vw, 45px);
    height: min(12vw, 45px);
  }
}

@media (max-width: 768px) {
  .heart {
    width: min(15vw, 40px);
    height: min(15vw, 40px);
  }
}

@media (max-width: 480px) {
  .heart {
    width: min(20vw, 35px);
    height: min(20vw, 35px);
  }
}
